<div class="list-container">
  @if (items.length === 0) {
    <div class="empty-state">
      This folder is empty
    </div>
  }
  @for (item of items; track isFolder(item) ? $index : $index) {
    <div
      class="list-item"
      [class.selected] = "isSelected(item)"
      (click)="onItemClick(item)"
    >
    @if (isFolder(item)) {
      <div class="item-icon folder-icon">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
          <path d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v7a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 12.5v-9z"/>
        </svg>
      </div>
    } @else {
      <div class="item-icon file-icon">
        {{ getFileExtension(item.name) }}
      </div>
    }
    <div class="item-info">
      <span class="item-name">
        {{ getItemName(item) }}
      </span>
      @if (!isFolder(item)) {
        <span class="item-ext">
          {{ getFileExtension(item.name) }} file
        </span>
      }
    </div>
    @if (isFolder(item)){
      <div class="item-arrow">></div>
    } @else {
      <div class="item-check" [class.visible]="isSelected(item)"></div>
    }
  </div>
  }
</div>
