:host {
  --primary-color: #0380D5;
  --primary-hover: #4338ca;
  --text-main: #1e293b;
  --text-muted: #64748b;
  --light-color: #ffffff;
  --light-color-2: #e2e8f0;
  --border-color: #cbd5e1;
  --error-color: #ef4444;
  display: block;
  font-family: 'Poppins', system-ui, sans-serif;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../../assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.login-page {
  min-height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background: var(--light-color);
}

/* Left Brand Panel */
.brand-panel {
  flex-basis: 40%;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: var(--light-color);
}

.brand-content {
  max-width: 440px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
  letter-spacing: -0.05em;
  color: var(--light-color);
  position: absolute;
  top: 3.5%;
  left: 2.5%;
}

.brand-panel h1 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.brand-panel p {
  color: var(--light-color-2);
  font-size: 1.1rem;
  line-height: 1.6;
}

/* Right Form Panel */
.form-panel {
  /* width: 100%; */
  flex-basis: 60%;
  /* max-width: 550px; */
  background: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.form-container {
  width: 100%;
  max-width: 380px;
}

h2.title {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-main);
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
}

.subtitle {
  color: var(--text-muted);
  font-size: 0.95rem;
  margin-bottom: 2rem;
}

/* Form Controls */
.input-group {
  margin-bottom: 1.25rem;
}

.label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-main);
  margin-bottom: 0.5rem;
}

input[type="email"],
input[type="password"] {
  /* width: 100%; */
  width: 92%;
  padding: 0.75rem 1rem;
  font-size: 0.95rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  outline: none;
  transition: all 0.2s ease;
}

input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 4px rgba(79, 70, 229, 0.1);
}

input.error {
  border-color: var(--error-color);
}

.forgot-link {
  font-size: 0.815rem;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
  margin-top: 5px;
}

.forgot-link:hover {
  color: var(--primary-hover);
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.25rem;
}

.remember-me label {
  margin-bottom: 0;
  color: var(--text-muted);
  cursor: pointer;
}

/* Submit Button */
.submit-btn {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--primary-color);
  color: var(--light-color);
  border: none;
  border-radius: 0.5rem;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

.submit-btn:hover:not(:disabled) {
  background-color: var(--primary-hover);
}

.submit-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Responsive Breakpoint */
@media (max-width: 1200px) {
  .brand-panel {
    padding: 1.25rem;
  }

  .brand-panel h1 {
    font-size: 2.25rem;
  }

  .brand-panel p {
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .brand-panel {
    display: none;
  }

  .form-panel {
    max-width: 100%;
  }
  .logo {
  color: var(--primary-color);
}

  .form-container {
    max-width: 650px;
    width: max-content;
  }
}

@media (max-width: 500px) {
  h2.title {
    font-size: 1.65rem;
  }

  input[type="email"],
  input[type="password"] {
    padding: 0.6rem 1rem;
    width: 89%;
  }

  .submit-btn {
    width: 100%;
    padding: 0.6rem 0.75rem;
  }

  .form-container {
    width: max-content;
  }
}